*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    -webkit-overflow-scrolling: none;
    text-rendering: optimizeLegibility;
}
